<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="MyWebSetting" value="setting - overriddenb" />
  <add key="settingsfile" value="Setting Value updated @ 20/06/2020 00:51:45" />
  <add key="location" value="Setting Value updated @ 20/06/2020 00:58:23" />
</appSettings>